

/* EX5:  */

.CSScontainer{
    height: 90px;
    width: 100%;
    border: 1px solid red;
    background-color: green;
    display: flex;
    justify-content: center;
}

h1{

 color:blue;

}

/* -----------------------------------  */